/* HOVERS */
.icone-input-comentario:hover{
    cursor: pointer;
    color: black;
    transition: 300ms;
}

.icone-comentario:hover{
    cursor: pointer;
}

.icones:hover{
    cursor: pointer;
}

.logo-instagram{
    cursor: pointer;
}

.tres-pontos:hover{
    cursor: pointer;
}

.titulo-post-esquerda{
    cursor: pointer;
}

.stories-com-texto:hover{
    cursor:pointer;
}

.perfil:hover{
    cursor:pointer;
}

.o-perfil:hover{
    cursor:pointer;
}

.op-seguir{
    cursor:pointer;
}

.icone-botao-passar:hover{
    cursor: pointer;
}

strong{
    cursor: pointer;
}
.texto-publicar-comentario:hover{
    transition: 300ms;
    color:#0095F6;
    cursor: pointer;
}

