/* CORPO */
body {
font-family: 'Roboto', sans-serif;
background-color:  #E5E5E5;
}

* {
    box-sizing: border-box;
}

/* ------CABEÇALHO------*/
.cabecalho-faixa {
    height: 54px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid #DBDBDB;
    background-color: #FFFFFF;
    width: 100%;  
    position: fixed;
    z-index: 2;
}

.cabecalho-icones {
    max-width: 944px;
    width: 100vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.icones-esquerda {
    display: flex;
    justify-content: space-between;
    width: 145px;
    align-items: center;
}

.linha-esquerda {
    width: 1px;
    height: 22px;
    background-color: #DBDBDB;
}

.icones {
    width: 22px;
    height: 22px;
    color: #000000;
}

.icones-esquerda img {
    height: 29px;
    width: 103px;
}

.linha-separadora {
    height: 22px;
    width: 1px;
    background-color: #DBDBDB;

}

.icones-centro {
    position: relative;
    width: 215px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FAFAFA;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
}

.barra-pesquisa p {
    color: #979797;
    font-weight: 400;
    font-size:12px;
}

.icones-direita {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 143px;
}

.icone-mobile{
    display: initial;
}

.barra-inferior-mobile{
    display: none ;
    width: 100%;
    position: fixed;
    background-color:#FFFFFF ;
    bottom: 0;
}

.barra-inferior-mobile-icones{
    width: 95%;
    right: 0;
    left: 0;
    margin: 0 auto;
    height: 54px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-pesquisa{
    position: absolute;
    top: 4px;
    right: 5px;
    width: 95%;
    border: none;
    background-color:transparent;

}

/* ------PAGINA TODA------*/
.pagina {
    position: relative;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    width: fit-content;
    height: 100%;
    top:88px;
}

/* ------STORIES------*/
.stories {
    background-color: #FFFFFF;
    position: relative;
    width: 614px;
    height: 118px;
    margin-bottom: 24px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid #DBDBDB;
}

.todos-stories {
    position: absolute;
    width: 597px;
    display: flex;
    left: 15px;
    overflow: hidden;
}

.icone-botao-passar{
    position: absolute;
    z-index: 1;
    font-size: 30px;
    right: 0;
    color: #FFFFFF;
    size: 1px;
    margin-right: 3px;
    filter: drop-shadow(0px 3px 4px rgba(0, 0, 0, 0.7));
}

.stories-com-texto{
    display: flex;
    flex-direction: column;
    margin-right: 15px;
    align-items: center;  
}

.texto-stories{
    font-size: 12px;
    font-weight: 400;
    margin-top: 6px;
}

.img-com-background-stories{
    display: flex;
    justify-content: center;
    align-items: center;  
}

.background-stories {
    width: 66px;
    height: 66px;
    border-radius: 33px;
}

.img-stories{
    position: absolute;
    width: 56px;
    height: 56px;
    border-radius: 28px;
}


/* ------SIDEBAR------*/
.sidebar {
    position: sticky;
    top:88px;
    width: 293px;
    height: 450px;
    display: flex;
    flex-direction: column;
    margin-left: 30px; 
}

.perfil {
    height: 102px;
    display: flex;
    align-items: center;
    margin-top: 25px;

}

.img-meu-perfil {
    width: 56px;
    height: 56px;
    border-radius: 28px;
    position: relative;
}

.sugestoes {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 25px;
}

.o-perfil {
    display: flex;
    align-items: center;
    margin-bottom: 18px;

}

.op-img-texto-seguir {
    display: flex;
    justify-content: space-between;
}

.sugestao-para-voce{
    font-size: 12px;
    font-weight: 500;
    color:#8E8E8E;
}

.img-outros-perfis {
    width: 32px;
    height: 32px;
    border-radius: 16px;
}

.op-seguir {
    display: flex;
    align-items: center;
}

.seguir {
    font-size: 12px;
    font-weight: 500;
    color:#139EF2;
}

.vertudo {
    font-size: 12px;
    font-weight: 500;
    color:#262626;
}

.texto-perfil {
    display: flex;
    flex-direction: column;
    margin-left: 11px;
    
}

.nome-perfil {
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 6px;
}

.info-perfil {
    font-size: 12px;
    font-weight: 400;
    color:#8E8E8E  
}

.info-texto {
    font-size: 11px;
    font-weight: 400;
    color: #C7C7C7;
    margin-bottom:14px;
    margin-top: 4px;
}


/* ------POSTS------*/
.posts {
    width: 614px;
    display: flex;
    flex-direction: column;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    margin-bottom: 60px;
    background-color: #FFFFFF;
}

.titulo-post {
    height: 61px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tres-pontos{
    margin-right: 18px;
}

.titulo-post-esquerda{
    margin-left: 15px;
    display: flex;
    align-items: center;
}

.texto-post{
    font-size: 14px;
    font-weight: 500;
    margin-left: 15px ;
}

.imagem-do-post {
    height: 612px;
    width:100%;
}

.icones-reacao {
    height: 38px;
    margin-left: 15px;
    margin-right: 13px;
    display: flex;
    justify-content: space-between;
}

.icones-reacao-esquerda{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 15%;
}

.icones-reacao-direita{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.texto-curtido {
    height: 38px;
    display: flex;
    margin-left: 15px;
    align-items: center;

}

.img-curtido-por{
    height: 20px;
    width: 20px;
    border-radius: 10px;
    margin-right: 5px;
}

.comentarios {
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.comentarios-texto{
    display: flex;
    justify-content: space-between;
}

.icone-comentario{
    size: 5px;
    fill: red;
}

.adicione-comentario{
    display: flex;
    align-items: center;
    height: 60px;
    padding: 6px 15px;
    margin-top: 6px;
    border-top: 1px solid rgb(239, 239, 239);
}

.icone-input-comentario{
    font-size: 30px;
    color: rgb(82, 80, 80);
}

.input-comentario{
    color:#000000;
    border: none;
    width: 100%;
    margin-left: 15px;
    margin-right: 15px;
    height: 30px;
}

.texto-publicar-comentario{
    color: #B2DFFC;
}

small{
    margin-left: 15px;
    font-size: 12px;
    color: #8E8E8E;
}

strong {
    font-weight: 700;
}